h2 {
  line-height: 120%;
  color: #2D3232;
  margin-top: 0;
}

h3 {
  color: #2D3232;
}

p {
  color: #2D3232;
}

.home-body-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 7em;
}

.home-body-flex-container > * {
  width: 50%;
}

.home-body-text {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-img-container {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.landing-pg-img {
  max-height: 70%;
  align-self: center;
}

.home-why-meditation {
  background-color: #F8F6F4;
  padding: 0 7em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-how-it-works {
  background-color: #2D3232;
  padding: 0 7em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-daily-routine {
  background-color: #ECEBE9;
  padding: 0 7em;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}